@use './variables.scss' as v;
@import  url('https://meyerweb.com/eric/tools/css/reset/reset.css');

.App {
  font-family:    v.$font-0;
  min-height:         100vh;
  background: v.$gradient-0;
  display:             flex;
  justify-content:   center;
  align-items:       center;
}

