//--- FONTS ---// 

$font: Helvetica Neue,Helvetica,Arial,sans-serif; 

//--- COLORS ---///

$white:     #fff;
$pink-0: #FFE7F8;

$purple:   #BCA2FE;
$pink-1:   #FF86DD;

$turquoise:  #00FEEF;
$blue:       #3D76E0;

//--- BOX-SHADOW ---//

$box-shadow: 10px 10px 50px rgba(0,0,0, .2);

